<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.batllerap.hsosna.rapbattle16bars">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProfileActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Register" />

        <activity android:name=".TrendingActivity">
            <intent-filter>
                <action android:name="com.batllerap.hsosna.rapbattle16bars.TrendingActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OpenforvotesActivity"
            android:label="OpenforvotesActivity">
            <intent-filter>
                <action android:name="com.batllerap.hsosna.rapbattle16bars.OpenforvotesActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ClosedBattleActivity"
            android:label="Closed Battle">
            <intent-filter>
                <action android:name="com.batllerap.hsosna.rapbattle16bars.ClosedBattleActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".OpenforVotesBattleActivity">
            <intent-filter>
                <action android:name="com.batllerap.hsosna.rapbattle16bars.OpenforVotesBattleActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity">
            <intent-filter>
                <action android:name="com.batllerap.hsosna.rapbattle16bars.SettingsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".InfoActivity">
            <intent-filter>
                <action android:name="com.batllerap.hsosna.rapbattle16bars.InfoActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
    </application>

</manifest>
